---
// import Code from 'astro/components/Code.astro';
//
// import Confettis from '../components/ConfettiLauncher.astro';
//
// import AstroLogo from '../assets/astro-icon.svg?raw';
//
// import * as readMe from '../../README.md';
// import { SITE_TITLE } from '../app/constants.js';
---

<div
	class="bg-gradient-to-r from-slate-100 to-slate-200 dark:from-slate-900 dark:to-slate-800 text-slate-800 dark:text-slate-100 mb-20 p-4 lg:p-16 shadow-xl shadow-slate-200 dark:shadow-slate-900"
>
	<h1>Demo.</h1>
</div>
