---
import LayoutSidebar from '../../app/LayoutSidebar.astro';
---

<LayoutSidebar>
	<div
		class="grid grid-cols-1 px-4 pt-6 xl:grid-cols-3 xl:gap-4 dark:bg-gray-900"
	>
		<div class="mb-4 col-span-full xl:mb-2">
			<nav class="flex mb-5" aria-label="Breadcrumb">
				<ol
					class="inline-flex items-center space-x-1 text-sm font-medium md:space-x-2"
				>
					<li class="inline-flex items-center">
						<a
							href='/'
							class="inline-flex items-center text-gray-700 hover:text-primary-600 dark:text-gray-300 dark:hover:text-primary-500"
						>
							<svg
								class="w-5 h-5 mr-2.5"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"
								></path>
							</svg
							>
							Home
						</a>
					</li>
					<li>
						<div class="flex items-center">
							<svg
								class="w-6 h-6 text-gray-400"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									fill-rule="evenodd"
									d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
									clip-rule="evenodd"></path>
							</svg
							>
							<a
								href="#"
								class="ml-1 text-gray-700 hover:text-primary-600 md:ml-2 dark:text-gray-300 dark:hover:text-primary-500"
							>Reservaciones</a
							>
						</div>
					</li>
					<li>
						<div class="flex items-center">
							<svg
								class="w-6 h-6 text-gray-400"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									fill-rule="evenodd"
									d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
									clip-rule="evenodd"></path>
							</svg
							>
							<span
								class="ml-1 text-gray-400 md:ml-2 dark:text-gray-500"
								aria-current="page">Nueva reservación</span
							>
						</div>
					</li>
				</ol>
			</nav>
			<h1
				class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white"
			>
				Información General
			</h1>
		</div>

		<form class="col-span-6">
			<div class="col-span-3">
				<div
					class="p-4 mb-4 space-y-2 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800 grid grid-cols-3 gap-4 align-items-stretch justify-items-stretch">
					<div class="px-4 py-2 text-gray-400 border border-gray-200 border-dashed rounded dark:border-gray-600"
							 style="margin-top: 8px">
						<div class="max-w-sm mx-auto">
							<div>
								<label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre
									Completo</label>
								<input type="text" id="name"
											 class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
											 placeholder="Ingrese el nombre" required />
							</div>
						</div>
					</div>
					<div class="px-4 py-2 text-gray-400 border border-gray-200 border-dashed rounded dark:border-gray-600">
						<div class="max-w-sm mx-auto">
							<div>
								<label for="payment" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Pago</label>
								<input type="text" id="payment"
											 class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
											 placeholder="$0" required />
							</div>
						</div>
					</div>
					<div class="px-4 py-2 text-gray-400 border border-gray-200 border-dashed rounded dark:border-gray-600">
						<div>
							<label for="commission"
										 class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Comisión</label>
							<input type="text" id="commission"
										 class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
										 required />
						</div>
					</div>
					<div class="px-4 py-2 text-gray-400 border border-gray-200 border-dashed rounded dark:border-gray-600"
							 style="margin-top: 8px">
						<div class="max-w-sm mx-auto">
							<div>
								<label for="customer-services" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Atiende</label>
								<input type="text" id="customer-services"
											 class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
											 placeholder="Nombre del empleado" required />
							</div>
						</div>
					</div>
					<div class="px-4 py-2 text-gray-400 border border-gray-200 border-dashed rounded dark:border-gray-600">
						<div class="max-w-sm mx-auto">
							<label for="counter" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Caja</label>
							<div class="relative max-w-sm">
								<div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
									<svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
											 xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
										<path
											d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
									</svg>
								</div>
								<input datepicker! datepicker-format="mm/dd/yyyy" type="text"
											 id="counter"
											 class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
											 placeholder="Seleccionar fecha">
							</div>
						</div>
					</div>
					<div class="px-4 py-2 text-gray-400 border border-gray-200 border-dashed rounded dark:border-gray-600">
						<div>
							<label for="pax" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Pax</label>
							<input type="text" id="pax"
										 class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
										 required />
						</div>
					</div>
					<div
						class="px-4 py-2 text-gray-400 border border-gray-200 border-dashed rounded dark:border-gray-600 col-span-2">
						<label for="observations"
									 class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Observaciones</label>
						<textarea id="observations" rows="4"
											class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
											placeholder="Escribe lo que piensas aquí..."></textarea>
					</div>
				</div>
			</div>
			<h1
				class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white"
			>
				Detalles del Servicio
			</h1>
			<div class="col-span-3">
				<div
					class="p-4 mb-8 space-y-2 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800 grid grid-cols-3 gap-4 align-items-stretch justify-items-stretch">
					<div class="px-4 py-2 text-gray-400 border border-gray-200 border-dashed rounded dark:border-gray-600"
							 style="margin-top: 8px">
						<div class="max-w-sm mx-auto">
							<div>
								<label for="tour" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tour</label>
								<input type="text" id="tour"
											 class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
											 placeholder="Ingrese el destino" required />
							</div>
						</div>
					</div>
					<div
						class="px-4 py-2 text-gray-400 border border-gray-200 border-dashed rounded dark:border-gray-600">
						<div class="max-w-sm mx-auto">
							<label for="time-picker" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Hora</label>
							<div class="relative max-w-sm">
								<div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
											 stroke="currentColor" class="w-4 h-4 text-gray-500 dark:text-gray-400">
										<path stroke-linecap="round" stroke-linejoin="round"
													d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
									</svg>
								</div>
								<input type="text"
											 id="time-picker"
											 class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
											 placeholder="Ingrese la hora">
							</div>
						</div>
					</div>
					<div class="px-4 py-2 text-gray-400 border border-gray-200 border-dashed rounded dark:border-gray-600">
						<div class="flex items-center mb-4">
							<input id="with-guide" type="radio" value="" name="guide-radio"
										 class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
							<label for="with-guide" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Con
								Guía</label>
						</div>
						<div class="flex items-center">
							<input checked id="without-guide" type="radio" value="" name="guide-radio"
										 class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
							<label for="without-guide" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Sin
								Guía</label>
						</div>
					</div>
				</div>
				<button type="button"
								id="send-button"
								class="text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800">
					Continuar
				</button>
				<button type="button"
								id="cancel-button"
								class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">
					Cancelar
				</button>
			</div>
		</form>
	</div>
</LayoutSidebar>

<script>
	import { insertReservation } from "../../services";
	import type { IReservation } from "../../types/entities";

	const sendButton = document.getElementById('send-button');
	const cancelButton = document.getElementById('cancel-button');

	// save the reservation
	sendButton!.addEventListener('click', () => {
		const name = (document.getElementById('name') as HTMLInputElement).value;
		const payment = (document.getElementById('payment') as HTMLInputElement).value;
		const commission = (document.getElementById('commission') as HTMLInputElement).value;
		const customerServices = (document.getElementById('customer-services') as HTMLInputElement).value;
		const date = (document.getElementById('counter') as HTMLInputElement).value;
		const pax = (document.getElementById('pax') as HTMLInputElement).value;
		const observations = (document.getElementById('observations') as HTMLInputElement).value;
		const tour = (document.getElementById('tour') as HTMLInputElement).value;
		const time = (document.getElementById('time-picker') as HTMLInputElement).value;
		const withGuide = (document.getElementById('with-guide') as HTMLInputElement).checked;

		let reservation: IReservation = {
			reservationId: "1",
			name: name,
			payment: payment,
			commission: commission,
			customerServices: customerServices,
			date: date,
			pax: pax,
			observations: observations,
			tour: tour,
			time: time,
			withGuide: withGuide
		};

		insertReservation(reservation);

		alert('Reservación creada con éxito');
		
		// reload the page
		location.reload();
	});

	// reload the page on cancel
	cancelButton!.addEventListener('click', function() {

		// ask for confirmation
		if (confirm('¿Estás seguro de cancelar la reservación?'))
			location.reload();
	});
</script>
