---
interface Props {
	title: string;
}

const { title } = Astro.props;

import 'bootstrap/dist/css/bootstrap.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="parent">
			<div class="div1"> </div>
			<div class="div2"> </div>
			<div class="div3">
				<slot />
			</div>
		</div>
	</body>
</html>

<style>

	html, body {
		margin: 0;
		padding: 0;
	}

	.parent {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(5, 1fr);
		grid-column-gap: 5px;
		grid-row-gap: 5px;
	}

	.div1 { grid-area: 1 / 1 / 2 / 6; }
	.div2 { grid-area: 2 / 1 / 6 / 2; }
	.div3 { grid-area: 2 / 2 / 6 / 6; }
</style>